@charset "UTF-8";

/*Todas as Demais midias*/

/* Typical deviceBreakpoints
-------------------------------
Pequenas Telas: até 600 px
Ceular: de 600 até 768 px
Tablet: 768 até 992 px
Desktop: 992 até 1200 px
Grandes telas: acima 1200 px.
*/

@media print{

}

@media screen and (min-width: 768px) and (max-width: 992px){    /*tablett*/
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){    /*desktop*/

}

@media screen and (min-width: 992px){ /*grandes telas*/

}