@charset "UTF-8";

/*Todas as Demais midias*/

/* Typical deviceBreakpoints
-------------------------------
Pequenas Telas: até 600 px
Ceular: de 600 até 768 px
Tablet: 768 até 992 px
Desktop: 992 até 1200 px
Grandes telas: acima 1200 px.
*/

@media print{   /*IMPRESSÃO*/

    *{
        font-family: 'Courier New', Courier, monospace;
    }

    body{
         background-image: url(../imagens/back-print.jpg);    /* Desnecessario*/
    }

    main{
        width: 90vw;
        border: 2px solid black;
    }
    main h1{
        text-shadow: none;
        color: black;

    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: block;}
    img#pc{display: none;}
    img#TV{display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px){    /*tablet*/
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone{display: none;}
    img#tablet{display: block;}
    img#print{display: none;}
    img#pc{display: none;}
    img#TV{display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px){    /*desktop*/

    body{
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: block;}
    img#TV{display: none;}
}

@media screen and (min-width: 992px){ /*grandes telas*/
    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    main{
        width:700px;
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: none;}
    img#TV{display: block;}
}